@page
@model Epets.App.Presentacion.Pages.AgregarEmpresaModel
@{
     ViewData["Title"] = "E-Pets-Empresa";
}
<style>
    tr:hover {
        background-color: rgb(252, 255, 95);
    }

    #jhan {
        border-radius: 150%;
        height: 50px;
        width: 50px;
        font-size: 1px;

    }
    #BannerEmpresa{
        
        
        background-image: url("../img/Banner_Veterinaria.jpg");
    }

    #jhan:hover {
        border-radius: 0%;
        height: 50px;
        width: 100px;
        font-size: 30px;

    }

    #btnConsultar:hover{
        background-color: #BBBBBB;
    }

     #btnRegistrar:hover{
        background-color: #0DC7E5;
    }

    #btnActualizar:hover{
        background-color: #10D691;
    }

    #btnEliminar:hover{
        background-color: #FE5D6E;
    }


    #imagen {
        border-top-left-radius: 70%;
    }

    #Cardimagen:hover #imagen {
        border-top-left-radius: 0px;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="text-center">
                <h1 class="display-4">Bienvenido a Agregar Nueva Empresa</h1>
                <p>MinTic-2021 <a href="/Grupo_4/InicioGrupo_4">Grupo_4</a>.</p>
            </div>

            <div id="BannerEmpresa" class="page-banner overlay-dark bg-image">
                <div class="banner-section">
                    <div class="container text-center wow fadeInUp">
                        <nav aria-label="Breadcrumb">
                            <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0 mb-2">
                                <li class="breadcrumb-item"><a href="/Index">Inicio</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Empresa_ Agregar Empresa</li>
                            </ol>
                        </nav>
                        <h1 class="font-weight-normal">Agregar Empresa</h1>
                    </div> <!-- .container -->
                </div> <!-- .banner-section -->
            </div> <!-- .page-banner -->



            
    <div class="row">
        <div class="col-md-5 col-sm-12">
            <div class="page-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12" style="text-align: center;">
                            <label>
                                <h1 class="text-center wow fadeInUp">Datos Empresa</h1>
                            </label>
                        </div>
                    </div>
                    <form class="main-form" method="post">
                        <div class="row">
                            
                            <div class="col-md-6 ">
                                <label>Nombre Empresa: </label>
                                <input id=NombreEmpresa type="text" class="form-control" placeholder="Digite Nombre Empresa" 
                                    style="margin-bottom: 20px;">
                            </div>
                            <div class="col-md-6 ">
                                 <label>Nit Empresa: </label>
                                <input id=NitEmpresa type="text" class="form-control" placeholder="Digite NitEmpresa" 
                                    style="margin-bottom: 20px;">
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 20px;">

                            
                            <div class="col-md-6 ">
                                <label>Direccion Empresa: </label>
                                <input id=DireccionEmpresa type="text" class="form-control" placeholder="Digite DireccionEmpresa" 
                                    style="margin-bottom: 20px;">
                            </div>
                        </div>
                       
                       

                        <div class="row">
                           <button id="btnRegistrar" type="submit" class="btn btn-primary mt-3 wow zoomIn"
                                style="margin-bottom: 20px; margin-left: 10px;" asp-page="/Empresas/AgregarEmpresa">Registrar</button>

                                <button id="btnEliminar" type="submit" class="btn btn-danger mt-3 wow zoomIn"
                                style="margin-bottom: 20px; margin-left: 10px;">Eliminar</button>
                            <button id="btnLimpiar" type="submit" class="btn btn-info mt-3 wow zoomIn" 
                            onclick="Limpiar();" style="margin-bottom: 20px; margin-left: 10px;">Limpiar</button>
                            <a class="btn btn-info mt-3 wow zoomIn" id="btnAtras"
                             style="margin-bottom: 20px; margin-left: 10px;" href="/Medicos/InicioMedico" role="button">Atras</a>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
       
    </div> <!-- .page-section -->

</div> <!-- .page-section -->

