@page
@model Epets.App.Presentacion.Pages.InicioEmpresaModel
@{
    ViewData["Title"] = "E-Pets-Empresa";
}
<style>
    tr:hover {
        background-color: rgb(252, 255, 95);
    }

    #jhan {
        border-radius: 150%;
        height: 50px;
        width: 50px;
        font-size: 1px;

    }
    #BannerEmpresa{
        
        
        background-image: url("../img/Banner_Veterinaria.jpg");
    }

    #jhan:hover {
        border-radius: 0%;
        height: 50px;
        width: 100px;
        font-size: 30px;

    }

    #btnConsultar:hover{
        background-color: #BBBBBB;
    }

     #btnRegistrar:hover{
        background-color: #0DC7E5;
    }

    #btnActualizar:hover{
        background-color: #10D691;
    }

    #btnEliminar:hover{
        background-color: #FE5D6E;
    }


    #imagen {
        border-top-left-radius: 70%;
    }

    #Cardimagen:hover #imagen {
        border-top-left-radius: 0px;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="text-center">
                <h1 class="display-4">Bienvenido a Empresa</h1>
                <p>MinTic-2021 <a href="/Grupo_4/InicioGrupo_4">Grupo_4</a>.</p>
            </div>

            <div id="BannerEmpresa" class="page-banner overlay-dark bg-image">
                <div class="banner-section">
                    <div class="container text-center wow fadeInUp">
                        <nav aria-label="Breadcrumb">
                            <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0 mb-2">
                                <li class="breadcrumb-item"><a href="/Index">Inicio</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Empresa</li>
                            </ol>
                        </nav>
                        <h1 class="font-weight-normal">Nuestra Empresa</h1>
                    </div> <!-- .container -->
                </div> <!-- .banner-section -->
            </div> <!-- .page-banner -->



            
    <div class="row">
        <div class="col-md-5 col-sm-12">
            <div class="page-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12" style="text-align: center;">
                            <label>
                                <h1 class="text-center wow fadeInUp">CRUD Empresa</h1>
                            </label>
                        </div>
                    </div>
                    <form class="main-form">
                        <div class="row">
                            <div class="col-md-12 ">
                                <input type="text" class="form-control" placeholder="Digite NIT de la empresa" style="margin-bottom: 20px;">
                            </div>
                            
                        </div>
                         <div class="row">
                          
                            <div class="col-md-12 ">
                                <input type="text" class="form-control" placeholder="Digite Nombre de la empresa" style="margin-bottom: 20px;">
                            </div>
                        </div>
                        
                        

                        <div class="row">
                            <button id="btnConsultar" type="submit" class="btn btn-secondary mt-3 wow zoomIn"
                                style="margin-bottom: 20px; margin-left: 10px;">Consultar</button>
                            <button id="btnRegistrar" type="submit" class="btn btn-primary mt-3 wow zoomIn"
                                style="margin-bottom: 20px; margin-left: 10px;">Registrar</button>
                            <button id="btnActualizar" type="submit" class="btn btn-success mt-3 wow zoomIn"
                                style="margin-bottom: 20px; margin-left: 10px;">Actualizar</button>
                            <button id="btnEliminar" type="submit" class="btn btn-danger mt-3 wow zoomIn"
                                style="margin-bottom: 20px; margin-left: 10px;">Eliminar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-7 col-sm-12">
            <caption><h4>Listado Empresas </h4></caption>
            <table class="table">
                <!-- <Mascotas a Cargo</caption>-->
                <thead>
                    <tr class="bg-warning" id="tablaj">
                        <th scope="col">Codigo</th>
                        <th scope="col">Nit Empresa</th>
                        <th scope="col">Nombre Empresa </th>
                      

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>O2345RGH</td>
                        <td>Mascota Feliz</td>
                        
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>12345058HGJ</td>
                        <td>VetPet</td>
                    </tr>
                    <tr>
                         <th scope="row">3</th>
                        <td>1456664RGH</td>
                        <td>CanCatVet</td>

                    </tr>
                    <tr>
                        <th scope="row">4</th>
                         <td>123445HGH</td>
                        <td>El Establo</td>
                    </tr>
                </tbody>
            </table>
            <caption><h4>Listado Medicos Vinculados </h4></caption>
            <table class="table">
                <!-- <Mascotas a Cargo</caption>-->
                <thead>
                    <tr class="bg-warning" id="tablaj">
                        <th scope="col">Codigo</th>
                        <th scope="col">Cedula</th>
                        <th scope="col">Nombres </th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">N. Tarjeta Profesiona</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Especialidad</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>

                        <td>1106789789</td>
                        <td>Samuel</td>
                        <td>Rodriguez</td>
                        <td>O2345RGH</td>
                        <td>3112345432</td>
                        <td>Perro</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>

                        <td>1110524169</td>
                        <td>German</td>
                        <td>Ospina</td>
                        <td>234520ULB</td>
                        <td>3214748012</td>
                        <td>Gato</td>
                    </tr>
                    <tr>
                         <th scope="row">3</th>
                        <td>1105682311</td>
                        <td>Sandra</td>
                        <td>Ortegon</td>
                        <td>1789005YUO</td>
                        <td>3133958228</td>
                        <td>Perro</td>

                    </tr>
                    <tr>
                        <th scope="row">4</th>
                         <td>1021067801</td>
                        <td>Jhan</td>
                        <td>Meneses</td>
                        <td>567296HYTR</td>
                        <td>3124567890</td>
                        <td>Pajaro</td>
                    </tr>
                </tbody>
            </table>
        </div> <!-- .container -->
    </div> <!-- .page-section -->

</div> <!-- .page-section -->
