@page
@model Epets.App.Presentacion.Pages.PaginaNoEncontradaModel
@{ 
    ViewData["Title"] = "E-Pets-Medicos";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="text-center">
                <h1 class="display-4">¡.. ERROR ..! Pagina No Encotrada</h1>
                <p>MinTic-2021 <a href="/Index">Inicio</a>.</p>
            </div>

           